*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
a.out
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.vscode
.exe
.out
.gcode
.stl
local.properties
Laser Harp Top and Sides.gcode
Bottom Rail Laser Harp.gcode
